<div class="container">
  <h1>Edit Trip</h1>
  <%= simple_form_for @trip do |f| %>
    <%= f.input :title %>
    <%= f.input :start_point %>
    <%= f.input :end_point %>
    <%= f.input :region %>
    <%= f.input :summary %>
    <%= f.submit "Edit Trip", class: "btn btn-flat" %>
  <% end %>
</div>
</div>
