<div class="container">
  <h1>Edit Trip</h1>
  <%= render simple_form_for [@trip] do |f| %>
    <%= f.input :title %>
    <%= f.input :start_point %>
    <%= f.input :end_point %>
    <%= f.input :region %>
    <%= f.input :summary %>
    <%= f.submit "Edit Trip", edit_trip_path(@trip), class: "btn btn-flat" %>
  <% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
