<head>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />





<div class= "container">
<br>
<div class="poi-icons row text-center mb-2">
  <div class="d-flex justify-content-between poi-icons-links">

    <figure>
    <i class="fa-solid fa-bridge-water fa-3x"></i>
    <figcaption>Scenic Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-flag-checkered fa-3x"></i>
    <figcaption>Fun Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-camera fa-3x"></i>
    <figcaption>Sights</figcaption>
    </figure>

    <figure>
    <i class="fa-brands fa-fort-awesome fa-3x"></i>
    <figcaption>Landmarks</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-bed fa-3x"></i>
    <figcaption>Hotels</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-utensils fa-3x"></i>
    <figcaption>Restaurants</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-gas-pump fa-3x"></i>
    <figcaption>Services</figcaption>
    </figure>
  </div>
</div>

<%# <h1>Trips</h1> %>
<div class="main-container">
  <div class="col-12 col-lg-7">
    <div class="row">
          <% @trips.each do |trip| %>
            <div class="col-sm-6">
              <div class="card-trip flex mb-4">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path "scotland-wallpaper.jpg" %>')">
                  </div>
                    <div class="container card-category-infos pt-1">
                      <h4><%= link_to trip.title, trip_path(trip), class: "card-category-h4 link-dark text-decoration-none" %></h4>
                      <p><strong>From: </strong><%= trip.start_point %></p>
                      <p><strong>To: </strong><%= trip.end_point %></p>
                      <p><strong>Region: </strong> <%= trip.region %></p>
                    </div>
                    <div class="text-end mr-3">
                    <% if trip.reviews.count > 0 %>
                        <p>★ <strong><%= trip.reviews.average(:rating).round(2) %> </strong></p>
                    <% else %>
                      <p>No reviews</p>
                    <% end %>
                    </div>
                  <div>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered ml-1 mb-1" />
                  </div>
              </div>
            </div>

          <% end %>

    </div>
  </div>

  <div id='map' style='width: 100vh; height: 100vh;' class="card-trip">
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiY20xMWp1biIsImEiOiJjbGVvbzZxb28wNDdmM3VvMTBqeXVub2trIn0.6YeYXqBNO0iFTo6kMuTM-w';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
      });
    </script>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
