<div class= "container">
<br>
<div class="poi-icons row text-center mb-2">
  <div class="d-flex justify-content-between poi-icons-links">

    <figure>
    <i class="fa-solid fa-bridge-water fa-3x"></i>
    <figcaption>Scenic Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-flag-checkered fa-3x"></i>
    <figcaption>Fun Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-camera fa-3x"></i>
    <figcaption>Sights</figcaption>
    </figure>

    <figure>
    <i class="fa-brands fa-fort-awesome fa-3x"></i>
    <figcaption>Landmarks</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-bed fa-3x"></i>
    <figcaption>Hotels</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-utensils fa-3x"></i>
    <figcaption>Restaurants</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-gas-pump fa-3x"></i>
    <figcaption>Services</figcaption>
    </figure>
  </div>
</div>

  <h1>Trips</h1>

      <div class="row">
      <% @trips.each do |trip| %>
        <div class="col-sm-4">
            <div class="card-trip flex mb-3">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path "scotland-wallpaper.jpg" %>')">
              </div>
                <div class="container card-category-infos pt-1">
                  <h4><%= link_to trip.title, trip_path(trip), class: "card-category-h4 link-dark text-decoration-none" %></h4>
                  <p><strong>From: </strong><%= trip.start_point %></p>
                  <p><strong>To: </strong><%= trip.end_point %></p>
                  <p><strong>Region: </strong> <%= trip.region %></p>
                </div>
                <div>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
            </div>
        </div>
      <% end %>
    </div>

MAP


<div id="map" style='width: 500px ;height: 100vh;'>
</div>
<script>
// TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com

// <%= ENV['MAPBOX_API_KEY'] %>
mapboxgl.accessToken = 'pk.eyJ1IjoiY20xMWp1biIsImEiOiJjbGVvbzZxb28wNDdmM3VvMTBqeXVub2trIn0.6YeYXqBNO0iFTo6kMuTM-w';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v12', // style URL
center: [-74.5, 40], // starting position [lng, lat]
zoom: 9, // starting zoom
});
</script>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

 <div>
