<div class="container px-4 my-5 py-5 card-trip w-50">
  <h1>New Trip</h1>
  <%= simple_form_for [@trip] do |f| %>
    <%= f.input :title %>
    <%= f.input :start_point %>
    <%= f.input :end_point %>
    <%= f.input :region %>
    <%= f.input :summary %>
    <%= f.input :day %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :pois,
                input_html: {data: {address_autocomplete_target: "address"}},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
%>
    <%= f.submit "Create Trip", class: "btn btn-success" %>
  <% end %>
</div>
</div>
