<div class="container px-4 my-5 py-5 card-trip w-50">
  <h1>New Trip</h1>
  <%= simple_form_for [@trip] do |f| %>
    <%= f.input :title %>
    <%= f.input :start_point %>
    <%= f.input :end_point %>
    <%= f.input :region %>
    <%= f.input :summary %>
    <%= f.input :day %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Create Trip", class: "btn btn-success" %>
  <% end %>
</div>
</div>
