<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
</head>

<div class="container">
<br>

<div class="poi-icons row text-center mb-2">
  <div class="d-flex justify-content-between poi-icons-links">

    <figure>
    <i class="fa-solid fa-bridge-water fa-3x"></i>
    <figcaption>Scenic Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-flag-checkered fa-3x"></i>
    <figcaption>Fun Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-camera fa-3x"></i>
    <figcaption>Sights</figcaption>
    </figure>

    <figure>
    <i class="fa-brands fa-fort-awesome fa-3x"></i>
    <figcaption>Landmarks</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-bed fa-3x"></i>
    <figcaption>Sleeps</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-utensils fa-3x"></i>
    <figcaption>Eats</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-gas-pump fa-3x"></i>
    <figcaption>Services</figcaption>
    </figure>
  </div>
</div>

<div class="row flex-wrap">
  <div class="row col-sm-4 card-trip mb-3">
    <div class="card-trip-infos py-3">
      <div>
        <h2><%= @trip.title %></h2>
        <br>
        <p><strong>From</strong></p>
        <p><%= @trip.start_point %></p>
        <p><strong>To</strong></p>
        <p><%= @trip.end_point %></p>
        <p><strong>Region</strong></p>
        <p><%= @trip.region %></p>
        <p><strong>Summary</strong></p>
        <p><%= @trip.summary %></p>
        <%# <%= link_to "Favourite", favorites_update_path(trip: @trip), class: "btn btn-success my-2" %>
        <br>
        <br>
        <%= link_to "Edit Trip", edit_trip_path(@trip), class: "btn btn-flat my-2" %>
        <%= button_to "Delete Trip", trip_path(@trip), class: "btn btn-light", method: :delete, confirm: "Are you sure?"%>

        <% if @trip.reviews.count > 0 %>
          <h4 class="text-right">★ <strong><%= @trip.reviews.average(:rating).round(2) %> </strong>- <%= @trip.reviews.count %> reviews</h4>
        <% else %>
          <p>No reviews</p>
        <% end %>
      </div>
    </div>
  </div>


  <div class="flex col-sm-8 ml-2">
    <div class="card-trip flex mb-3">
      <div id='map' style='width: 100%; height: 80vh;'>
      </div>
    </div>
  </div>

    <div class="d-flex justify-content-between">
      <div class="card border-white mx-1">
        <%= image_tag "scotland-wallpaper.jpg", class: "rounded" %>
        <%# <%= cl_image_tag @trip.photo.key, class: "rounded" %>
      </div>

      <div class="card border-white mx-1">
        <%= image_tag "scotland-wallpaper.jpg", class: "rounded" %>
      </div>

      <div class="card border-white mx-1">
        <%= image_tag "scotland-wallpaper.jpg", class: "rounded" %>
      </div>
</div>

<%# <div>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
</div> %>


<div class="col-sm-6">
  <div class="card-trip my-3 px-3 py-3">
    <h3><strong>Reviews</strong></h3>
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for [@trip, @review] do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.input :content %>
          <%= f.submit "Add Review", class: "btn btn-flat mb-2"  %>
        <% end %>
      </div>
    </div>


<div>
<h3>User Reviews</h3>
  <ul class="list-group list-unstyled">
    <% @trip.reviews.each do |review| %>
      <div>
        <li class="star-rating">
          <% if review.rating %>
            <%= '★' * review.rating %>
          <%end%>
          </li>
        <li class="list-group-item-borderless"><strong><%= review.user.username %></strong>, <i><%= review.created_at.strftime("%b %d, %Y") %></i></li>
        <li class="list-group-item-borderless mb-3"><%= review.content %></li>
      </div>
      <%# <%= link_to "Delete", review_path(review), class: "link text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <% end %>
    </ul>
  </div>
</div>
</div>

<div class="col-sm-6">
  <div class="card-trip my-3 px-3 py-3 vh-100">
    <div>
      <% @pois.each do |poi|%>
        <h2><strong><%= poi.category %></strong></h2>
        <br>
        <h4><strong><%= poi.name %></strong></h4>
        <br>
        <p><strong>Description</strong></p>
        <p><%= poi.description %></p>
        <p><strong>Address</strong></p>
        <p><%= poi.address %></p>
        <br>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY20xMWp1biIsImEiOiJjbGVvbzZxb28wNDdmM3VvMTBqeXVub2trIn0.6YeYXqBNO0iFTo6kMuTM-w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: <%= @start_coords %>,
    zoom: 10
  });

  var directions = new MapboxDirections({
    accessToken: 'pk.eyJ1IjoiY20xMWp1biIsImEiOiJjbGVvbzZxb28wNDdmM3VvMTBqeXVub2trIn0.6YeYXqBNO0iFTo6kMuTM-w',
    unit: 'metric',
    profile: 'mapbox/driving'
  });

  map.addControl(directions, 'top-left');
</script>
