<div class="container">
<br>

<div class="poi-icons row text-center mb-2">
  <div class="d-flex justify-content-between poi-icons-links">

    <figure>
    <i class="fa-solid fa-bridge-water fa-3x"></i>
    <figcaption>Scenic Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-flag-checkered fa-3x"></i>
    <figcaption>Fun Roads</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-camera fa-3x"></i>
    <figcaption>Sights</figcaption>
    </figure>

    <figure>
    <i class="fa-brands fa-fort-awesome fa-3x"></i>
    <figcaption>Landmarks</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-bed fa-3x"></i>
    <figcaption>Hotels</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-utensils fa-3x"></i>
    <figcaption>Restaurants</figcaption>
    </figure>

    <figure>
    <i class="fa-solid fa-gas-pump fa-3x"></i>
    <figcaption>Services</figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card-trip flex mb-3">
      <div class="card">
        <%= image_tag "scotland-wallpaper.jpg" %>
      </div>
    </div>
  </div>


<div class="col-sm-6 card-trip flex-end mb-3">
  <div class="card-trip-infos py-3">
    <div>
      <h2><%= @trip.title %></h2>
      <p><strong>From: </strong><%= @trip.start_point %></p>
      <p><strong>To: </strong><%= @trip.end_point %></p>
      <p><strong>Region: </strong> <%= @trip.region %></p>
      <p><strong>Summary: </strong> <%= @trip.summary %></p>
      <br>
      <%# <%= link_to "Favourite", favorites_update_path(trip: @trip), class: "btn btn-success my-2" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Edit Trip", edit_trip_path(@trip), class: "btn btn-success my-2" %>
      <%= button_to "Delete Trip", trip_path(@trip), class: "btn btn-flat", method: :delete, confirm: "Are you sure?"%>
      </div>
      <div class="text-end">
        <h4>★ <strong><%= @trip.reviews.average(:rating) %> </strong>- <%= @trip.reviews.count %> reviews</h4>
      </div>
</div>
  </div>
  <div>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
</div>
</div>

<div class="col-sm-6 card-trip my-3 vh-100">
  <h3><strong>Reviews</strong></h3>

  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@trip, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :content %>
        <%= f.submit "Add Review", class: "btn btn-flat mb-2"  %>
      <% end %>
    </div>
  </div>

<div>
<h3>User Reviews</h3>

  <ul class="list-group list-unstyled">
    <% @trip.reviews.each do |review| %>
      <div>
        <li class="star-rating">
          <% if review.rating %>
            <%= '★' * review.rating %>
          <%end%>
          </li>
        <li class="list-group-item-borderless fst-italic"><%= review.user.username %> posted on <%= review.created_at.strftime("%A, %d %b %Y %l:%M %p") %></li>
        <li class="list-group-item-borderless fw-bolder mb-2"><%= review.content %></li>
      </div>
      <%# <%= link_to "Delete", review_path(review), class: "link text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <% end %>
    </ul>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
