<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "scotland-wallpaper.jpg" %>')">
  <div class="container fade-in-text">
    <div>
      <h1 class="mb-2">RoadTips</h1>
      <p>The social UK road trip planner</p>
      <p>For the road ahead.....</p>
      <%= link_to "View trips", trips_path, class: "btn btn-flat" %>
    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="wrapper">
        <p>Photos of the Week 📷</p>
        <div class="item">
          <div class="polaroid"><%= cl_image_tag("ebl554u93x9jbz53zf7i5qnez6qj.jpg") %>
            <div class="caption">
              <h5>Sunset on the beach</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="polaroid"><%= cl_image_tag("0lzjqgdb3ir3qis7l2jtrb3d0jhi.jpg") %>
            <div class="caption">
              <h5>Making new friends! 🐴</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="polaroid"><%= cl_image_tag("hx4jl6wai1qjwxnblnfbrlb1cs7b.jpg") %>
            <div class="caption">
              <h5>Falling down Malham Cove 😱</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="polaroid"><%= cl_image_tag("x9itm6dql30cpktpkuf0xl5dn1kk.jpg") %>
            <div class="caption">
              <h5>Brewhouse time! 🍻</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="polaroid"><%= cl_image_tag("s4od951q3j9moaampcgk68bxvp6f.jpg") %>
            <div class="caption">
              <h5>Looking out to the Isle of Rùm</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-background px-3 py-3">
  <div class="main-container mx-2">
    <div class="col-sm-12">
      <div>
        <h2 class="mb-2">Trending Trips 🔥</h2>
      </div>
      <div class="row">
        <% @trending_trips.each do |trip| %>
          <div class="col-sm-3">
            <div class="card-trip flex mb-4">
              <div class="card-category">
                <%= link_to trip_path(trip) do %>
                  <% if trip.photos.attached? %>
                    <%= cl_image_tag trip.photos.first.key, height: 300, width: 400, crop: :fill, class:  %>
                  <% else %>
                    <%= image_tag "scotland-wallpaper.jpg", height: 300, width: 400, crop: :fill, class:  %>
                  <% end %>
                <% end %>
              </div>
              <div class="container card-category-infos pt-1">
                <div class="text-end">
                  <% if trip.user %>
                    <%= link_to profile_path(trip.user) do %>
                      <%= cl_image_tag trip.user.avatar.key, class: "card-trip-user avatar-bordered" %>
                    <% end %>
                  <% end %>
                </div>
                <h4><%= link_to trip.title, trip_path(trip), class: "card-category-h4 text-decoration-none" %> by <%= trip.user.username %></h4>
                <div class="card-category-infos">
                  <p><strong>From: </strong><%= trip.start_point %></p>
                  <p><strong>To: </strong><%= trip.end_point %></p>
                  <p><strong>Region: </strong> <%= trip.region %></p>
                </div>
              </div>
              <div class="text-end mr-3">
                <div>
                  <h2><%= trip.day %> <%= trip.day > 1 ? "days" : "day" %></h2>
                </div>
                <div class="pb-3">
                  <% if trip.reviews.count > 0 %>
                    <h4>★ <strong><%= trip.reviews.average(:rating).round(2) %> </strong></h4>
                  <% else %>
                    <h4>No reviews</h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="solid">
  <div class="main-container mx-2">
    <div class="col-sm-12">
      <div class="mb-2">
        <h2>Recently Added Trips</h2>
      </div>
      <div class="row">
        <% @latest.each do |trip| %>
          <div class="col-sm-3">
            <div class="card-trip flex mb-4">
              <div class="card-category">
                <%= link_to trip_path(trip) do %>
                  <% if trip.photos.attached? %>
                    <%= cl_image_tag trip.photos.first.key, height: 300, width: 400, crop: :fill, class:  %>
                  <% else %>
                    <%= image_tag "scotland-wallpaper.jpg", height: 300, width: 400, crop: :fill, class:  %>
                  <% end %>
                <% end %>
              </div>
              <div class="container card-category-infos pt-1">
                <div class="text-end">
                  <% if trip.user %>
                    <%= link_to profile_path(trip.user) do %>
                      <%= cl_image_tag trip.user.avatar.key, class: "card-trip-user avatar-bordered" %>
                    <% end %>
                  <% end %>
                </div>
                <h4><%= link_to trip.title, trip_path(trip), class: "card-category-h4 text-decoration-none" %> by <%= trip.user.username %></h4>
                <div class="card-category-infos">
                  <p><strong>From: </strong><%= trip.start_point %></p>
                  <p><strong>To: </strong><%= trip.end_point %></p>
                  <p><strong>Region: </strong> <%= trip.region %></p>
                </div>
                <%# <br>
                <i class="fas fa-heart"></i> %>
              </div>
              <div class="text-end mr-3">
                <div>
                  <h2><%= trip.day %> <%= trip.day > 1 ? "days" : "day" %></h2>
                </div>
                <div class="pb-3">
                  <% if trip.reviews.count > 0 %>
                    <h4>★ <strong><%= trip.reviews.average(:rating).round(2) %> </strong></h4>
                  <% else %>
                    <h4>No reviews</h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr class="solid">
